.container1 {
    width: 100vw; /* Remplit toute la largeur de l'écran */
    height: 100vh; /* Remplit toute la hauteur de l'écran */
    background-image: url('./assets/images/background.png'); /* Définit l'image de fond */
    background-size: cover; /* L'image couvre tout l'écran sans déformation */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite que l'image se répète */
}


.round{
    border-radius: 50%;
}

.color1{
    color: #D83BFA;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color2{
    color: #F76DD3;
    font-size: 25px;
}

h3{
    color: #836DF7;
}

.color3{
    color: white;
    background-color: #836DF7;
}